.img-preview ul {
  padding: 0;
  list-style: none;
}
.img-preview ul li::before {
  margin-right: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--marker-color, inherit);
  content: "•";
}
